<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Checkers</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <a href="/">Colors</a>
    <section>
      <div id="background">
      <table id="table"> 
        <% for(var i=0; i<8; i++){ %>
        <tr>
          <% for(var j =0; j <8; j++){ %>
          <td style="height:40px; width:40px;">
          </td>
          <% } %>
        </tr>
       <% } %>
      </table>
      </div>
    </section>
    </body>
</html>
